    
.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 99%;
    height: 50px;
    border: 2px solid #217093;
    align-items: center;
    background: #FFF;
}

.NavBar a {
  text-decoration: none;
  font-size: 1.25em;
    color: #217093;
    font-weight: 700;
    font-family: inherit;
    margin-left: 40px;
    margin-right: 40px;
}